html { margin: 0; }
body { margin: 0; }
pre { background: #efefef; padding: 0.4em; border: dotted 1px #ddd; overflow: auto; }
table th { color: #444; background: #eee; }
table td { background: #f4f4f4; }
	table tr.alt td { background: #fff; }

.container .toggle { font-size: 0.7em; float: right; padding: 0 1em; cursor: pointer; color: #777; text-decoration: none; }

#content ul.breadcrumb { display: block; margin: 0; padding: 0; overflow: auto; margin-bottom:1em; }
	#content ul.breadcrumb li { display: block; float: left; margin: 0; padding: 0; padding-left: 0.6em; }
	#content ul.breadcrumb li:before { content: '» '; color: #9E9E9E; }
		#content ul.breadcrumb li a { }
/*
#content ul , #content ol { margin-left:40px; margin-bottom:1.4em; padding:0; }
#content ul li, #content ol li { padding:0; margin:0; }
#content ul ul, #content ol ol, #content ol ul, #content ul ol { margin-left:25px; }
*/
#menu { background: #eee; }
	#menu ol,
	#menu ul { margin: 0; padding: 0; list-style: none; }
		#menu li { margin: 0; padding: 0; }
			#menu li { display: block;}
			#menu li strong { display: block; margin-bottom: 0.4em; padding: 0.2em 0.4em; font-weight: normal; color: #eee; background: #111; cursor: pointer; }
			#menu li a { color: #005014; }
		#menu ol ul { margin-left: 1em; }
	#menu ol { padding: 1em; }
		#menu ol ul { padding-bottom: 0.6em; }

#docs { color:black; }
#docs h1 { margin-top: 0; }
#docs h1,
#docs h2,
#docs h3 { margin-left: -12px; padding: 0.4em 10px; padding-right: 0; background: #eee; }
#docs h1 small,
#docs h2 small,
#docs h3 small,
#docs h4 small,
#docs h5 small,
#docs h6 small { font-size: 0.9em; font-weight: normal; color: #444; }
#docs pre { font-size: 1em; line-height: 1.4em; }

#docs div.class-list div.class { width: 50%; }
#docs div.class-list div.class.left { float: left; clear: both; }
#docs div.class-list div.class.right { float: right; }
	#docs div.class-list div.class h2 { margin: 0.4em; padding: 0.2em 0.4em; font-size: 1em; }

#docs div.toc { margin-bottom: 1em; padding-bottom: 1em; background: #eee; }
	#docs div.toc ul { margin: 0.6em 1em; padding: 0; list-style: none; }
		#docs div.toc li { margin: 0; padding: 0; }
	#docs div.toc h3 { margin: 0; padding: 0.2em 1em; font-size: 1em; color: #eee; background: #111; }
#docs div.method,
#docs div.properties,
#docs div.constants { margin-bottom: 1em; }
	#docs div.method h3 .param { font-weight: normal; cursor: help; }
	#docs div.method h3 abbr.param { text-transform: none; font-size: 1em; }
#docs p.note { display: block; padding: 0.4em 10px; background: #efefef; color: #444; font-size: 0.9em; border: solid 1px #eee; margin-bottom:1.4em; }
#docs dl.tags { overflow: auto; background: #eee; padding: 1em; border: solid 6px #ddd; }
	#docs dl.tags dt { margin: 0 0 0.4em; clear: both; float: left; width: 25%; }
	#docs dl.tags dd { margin: 0; padding: 0; clear: right; float: right; }
	
#docs pre { margin-left: 20px; margin-bottom:1.4em; }

#docs img { padding:4px; background: white; border: solid 1px #ccc; }

#docs .sample {
	padding-left:1.4em;
	padding-top:1.4em;
	padding-right:1.4em;
	border:1px dashed #808080;
	margin-bottom:1.4em;
}

#docs .sample h1,
#docs .sample h2,
#docs .sample h3 {
	background:none;
}

