/* -----------------------------------------------------------------------

   BlueTrip CSS Framework

   Mike Crittenden
   mike@capsizedesigns.com
   Copyright 2008 Mike Crittenden

   License - MIT or GPL (whichever suits you better)

----------------------------------------------------------------------- */

/* MEYER RESET v1.0*/

#docs div,#docs span, #docs applet, #docs object, #docs iframe, #docs h1, #docs h2, #docs h3, #docs h4, #docs h5, #docs h6, #docs p, #docs blockquote, #docs pre, #docs a, #docs abbr, #docs acronym, #docs address, #docs big, #docs cite, #docs code, #docs del, #docs dfn, #docs em, #docs font, #docs img, #docs ins, #docs kbd, #docs q, #docs s, #docs samp, #docs small, #docs strike, #docs strong, #docs sub, #docs sup, #docs tt, #docs var, #docs b, #docs u, #docs i, #docs center, #docs dl, #docs dt, #docs dd, #docs ol, #docs ul, #docs li, #docs fieldset, #docs form, #docs label, #docs legend, #docs table, #docs caption, #docs tbody, #docs tfoot, #docs thead, #docs tr, #docs th, #docs td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}#docs {line-height:1}#docs blockquote, #docs q{quotes:none} #docs blockquote:before,#docs blockquote:after,#docs q:before,#docs q:after{content:'';content:none} #docs :focus{outline:0} #docs ins{text-decoration:none} #docs del{text-decoration:line-through} #docs table{border-collapse:collapse;border-spacing:0}

/* BASIC TYPOGRAPHY */

#docs { font-size: 62.5%; font-family: "Liberation Sans", Helvetica, Arial, sans-serif; }
#docs strong, #docs th, #docs thead td, #docs h1, #docs h2, #docs h3, #docs h4, #docs h5, #docs h6 { font-weight: bold; }
#docs cite, #docs em, #docs dfn { font-style: italic; }
#docs code, #docs kbd, #docs samp, #docs pre, #docs tt, #docs var, i#docs nput[type='text'], #docs input[type='password'], #docs textarea { font-size: 92%; font-family: monaco, "Lucida Console", courier, monospace; }
#docs del { text-decoration: line-through; color: #666; }
#docs ins, #docs dfn { border-bottom: 1px solid #ccc; }
#docs small, #docs sup, #docs sub { font-size: 85%; }
#docs abbr, #docs acronym { text-transform: uppercase; font-size: 85%; letter-spacing: .1em; }
#docs a abbr, #docs a acronym { border: none; }
#docs abbr[title], #docs acronym[title], #docs dfn[title] { cursor: help; border-bottom: 1px solid #ccc; }
#docs sup { vertical-align: super; }
#docs sub { vertical-align: sub; }

/* QUOTES */

#docs blockquote { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; color: #666; }
#docs blockquote *:first-child:before { content: "\201C"; }
#docs blockquote *:first-child:after { content: "\201D"; }


/* BASE SIZES */

#docs { font-size: .9em; line-height: 1.4em; padding-left:10px;}
#docs h1 { font-size: 1.8em; }
#docs h2 { font-size: 1.35em; }
#docs h3 { font-size: 1.1em; }

/* LISTS */

#docs ul li { margin-left: .85em; }
#docs ul { list-style-type: disc; }
#docs ul ul { list-style-type: square; }
#docs ul ul ul { list-style-type: circle; }
#docs ol { list-style-position: outside; list-style-type: decimal; }
#docs dt { font-weight: bold; }

/* TABLES */

#docs table { border-top: 1px solid #ccc;  border-left: 1px solid #ccc; }
#docs th, #docs td { border-bottom: 1px solid #ddd; border-right: 1px solid #ccc; }

/* MARGINS & PADDINGS */

#docs blockquote *:first-child { margin: .8em 0; }
#docs hr, #docs p, #docs ul, #docs ol, #docs dl, #docs pre, #docs blockquote, #docs address, #docs table, #docs form { margin-bottom: 1.4em; }
/* NOTE: Calulate header margins: TOP: 1.6em/size, BOTTOM: 1.6em/size/2 */
#docs h1 { margin: 1em 0 .5em;  }
#docs h2 { margin: 1.07em 0 .535em; }
#docs h3 { margin: 1.14em 0 .57em; }
#docs h4 { margin: 1.23em 0 .615em; }
#docs h5 { margin: 1.33em 0 .67em; }
#docs h6 { margin: 1.6em 0 .8em; }
#docs th, #docs td { padding: .8em; }
#docs caption { padding-bottom: .8em; } /* padding instead of margin for IE */
#docs blockquote { padding: 0 1em; margin: 1.4em 0; }
#docs fieldset { padding: 0 1em 1em 1em; margin: 1.4em 0; } /* padding-top is margin-top for fieldsets in Opera */
#docs legend { padding-left: .8em; padding-right: .8em; }
#docs legend+* { margin-top: 1em; } /* compensates for the opera margin bug */
#docs textarea, #docs input { padding: .3em .4em .15em .4em; }
#docs select { padding: .1em .2em 0 .2em; }
#docs option { padding: 0 .4em; }
#docs a { position: relative; padding: 0.3em 0 .1em 0; } /* for larger click-area */
#docs dt { margin-top: .8em; margin-bottom: .4em; }
#docs ul { margin-left: 1.5em; }
#docs ol { margin-left: 2.35em; }
#docs ol ol, #docs ul ol { margin-left: 2.5em; }
#docs ol ol, #docs ol ul, #docs ul ul, #docs ul ol { margin-bottom: 0; }
#docs form div { margin-bottom: .8em; }

/* COLORS */

#docs code, #docs pre { color: #005014; } /* very optional, but still useful. W3C uses about the same colors for codes */

/* 24 COLUMN GRID */

hr {background:#ddd;color:#ddd;clear:both;float:none;width:100%;height:.1em;margin:0 0 1.45em;border:none;}
hr.space {background:#fff;color:#fff;}
.clearfix:after, .container:after {content:".";display:block;height:0;clear:both;visibility:hidden;max-height:0;}
.clearfix, .container {display:inline-block;}
* html .clearfix, * html .container {height:1%;}
.clearfix, .container {display:block;}
.clear {clear:both;}

/* to create serif italic dramatic text, use this class */
#docs .fancy {
  color: #666;
  font-family: "Warnock Pro", "Goudy Old Style","Palatino","Book Antiqua", Georgia, serif;
  font-style: italic;
  font-weight: normal;
}

/* creates small caps */
#docs .caps {
  font-variant: small-caps;
  letter-spacing: 1px;
  text-transform: lowercase;
  font-size:1.2em;
  font-weight:bold;
  padding:0 2px;
}

/* TEXT CLASSES */

#docs .small {font-size:.8em;margin-bottom:1.875em;line-height:1.875em;}
#docs .large {font-size:1.2em;line-height:2.5em;margin-bottom:1.25em;}
#docs .hide {display:none;}
#docs .quiet {color:#666;}
#docs .loud {color:#000;}
#docs .highlight {background:#ff0;}
#docs .top {margin-top:0;padding-top:0;}
#docs .bottom {margin-bottom:0;padding-bottom:0;}
#docs .thin {font-weight: lighter;}
#docs .error, #docs .notice, #docs .success {padding:.8em;margin-bottom:1.6em;border:2px solid #ddd;}
#docs .error {background:#FBE3E4;color:#8a1f11;border-color:#FBC2C4;}
#docs .notice {background:#FFF6BF;color:#514721;border-color:#FFD324;}
#docs .success {background:#E6EFC2;color:#264409;border-color:#C6D880;}
#docs .error a {color:#8a1f11; background:none; padding:0; margin:0; }
#docs .notice a {color:#514721; background:none; padding:0; margin:0; }
#docs .success a {color:#264409; background:none; padding:0; margin:0; }
#docs .center {text-align: center;}

